.brand_panel {
  margin: 1% 1%;
  padding: 1%;
  width: 47%;
  float: left;
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
}

.social_panel {
  margin: 1% 1%;
  width: 47%;
  padding: 1%;
  float: left;
  border-color: grey;
  border-radius: 10px;
  border-style: solid;
}