<div class="brand_social">
  <strong>Instagram</strong> <%=@brand.instagram_username%><br>
  <strong>Twitter</strong> <%=@brand.twitter_username%><br>
  <strong>Soundcloud</strong> <%=@brand.soundcloud_username%><br>
  <strong>Pinterest</strong> <%=@brand.pinterest_username%><br>
</div>