<div class="brand_social">
  <strong>Instagram</strong> <%=@brand.instagrams.first.instagram_username%><br>
  <strong>Twitter</strong> <%=@brand.twitters.first.twitter_username%><br>
  <strong>Soundcloud</strong> <%=@brand.soundclouds.first.soundcloud_username%><br>
  <strong>Pinterest</strong> <%=@brand.pinterests.first.pinterest_username%><br>
</div>