<div class="brand_panel">
  <h2>Contact Information</h2>
  <p>For public display</p>
  <%=render "contact"%>
  <button class="edit">Edit</button>
</div>

<div class="social_panel">
  <h2>Linked Social Accounts</h2>
  <p>For public display</p>
  <%=render "social"%>
</div>