<div class="brand_panel col-md-6">
  <h2>Contact Information</h2>
  <p>For public display</p>
  <%=render "contact"%>
</div>

<div class="social_panel col-md-6">
  <h2>Linked Social Accounts</h2>
  <p>For public display</p>
  <%=render "social"%>
</div>