<div class="brand-panel col-md-6">
  <div class="brand-header">
    <h2>Contact Information</h2>
    <small>For public display</small>
  </div>
    <%=render "contact"%>
</div>

<div class="brand-panel col-md-6">
  <div class="brand-header">
    <h2>Linked Social Accounts</h2>
    <small>For public display</small>
  </div>
  <%=render "social"%>
</div>